
.register-btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: "pointer",
}

.register-btn:hover {
    transform: scale(1.05); 
}

.listUsers-btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: "pointer",
}

.listUsers-btn:hover {
    transform: scale(1.05); 
}