.options {
    /* Adjust these values to fit your design needs */
    width: 150px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it appears above other content */
    top: 0; /* Adjust if needed */
    left: 60%; /* Positions the dropdown to the right of the button */
    margin-left: 1px; /* Space between the button and dropdown */
  }
  
  .list-group-item {
    cursor: pointer;
  }
  
  .list-group-item:hover {
    background-color: #f1f1f1; /* Highlight on hover */
  }
  