.options {
    /* Adjust these values to fit your design needs */
    width: 170px;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000; /* Ensure it appears above other content */
    top: 0; /* Adjust if needed */
    left: 60%; /* Positions the dropdown to the right of the button */
    margin-left: 1px; /* Space between the button and dropdown */
    justify-content: start;
  }
  
  .list-group-item {
    cursor: pointer;
    text-align: left;
  }
  
  .list-group-item:hover {
    background-color: #A1DD70; /* Highlight on hover */
  }
  