.thumbnail-card {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.thumbnail-img {
    object-fit: contain;   
    transform: scale(1);  
}

.small-thumbnail {
    transform: scale(0.5);
}

.medium-thumbnail {
    transform: scale(0.7);
}

.large-thumbnail {
    transform: scale(0.9);
}
