
.thumbnail-card {
    width: 400px;  
    height: 200px; 
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px;
  }
  
  
  .thumbnail-img {
    object-fit: cover; 
    object-position: center; 
  }
  